html {
  min-height: 100vh; /* ensures that the background covers entire viewport */
  background: rgba(191, 191, 191, 1);
}

body {
  margin: 0;
  font-family: "Gill Sans", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
}

.logo {
  width: auto;
  height: 48px;
}

.nav-primary {
  padding: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

.mx-8 {
  padding: 0 8px;
}

.bq {
  border-left: 10px solid black;
  margin: 0;
  padding-left: 10px;
}

.remove-margin-top {
  margin-top: 0;
}

/* Desktop Styles */

@media (min-width: 767px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
  }

  .header > * {
    flex: 1 0;
  }

  .hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .max-width-400 {
    max-width: 400px;
  }

  .albums {
    display: flex;
  }

  .albums > div {
    /* Style */
    flex: 1 0;
    margin: 0 10px;
  }

  .albums > div:first-child {
    margin-left: 0;
  }

  .albums > div:last-child {
    margin-right: 0;
  }

  .flex {
    display: flex;
  }

  .flex > * {
    /* Style */
    flex: 1 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Only applies to tablet */
}

@media (min-width: 769px) {
  /* Desktop styles */
}
